.grid-pane-border {
    -fx-border-color: lightgray;
    }

.background-button {
    -fx-background-color: White;
    -fx-border-color: lightgray;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0.3;
}

.background-button:hover {
    -fx-background-color: #EDEDED;
}

.event-button {
    -fx-background-color: #D1E8FF;
    -fx-background-radius: 5 5 5 5;
    -fx-border-color: #EDEDED;
    -fx-border-width: 1 1 1 1;
    -fx-content-display: top;
    -fx-alignment: top-left;
}

.event-button:hover {
    -fx-background-color: #1E90FF;
}

.event-button-gray {
    -fx-background-color: #F1F2F3;
    -fx-content-display: top;
    -fx-alignment: top-left;
    -fx-background-radius: 5 5 5 5;
    -fx-border-color: gray;
    -fx-border-width: 10 0 0 0;
    -fx-text-color: #D5DCE2;
}
